[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "micromodal"]
	path = micromodal
	url = https://github.com/kennedymwavu/micromodal
