[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "firebase.auth.rest"]
	path = firebase.auth.rest
	url = https://github.com/kennedymwavu/firebase.auth.rest
[submodule "micromodal"]
	path = micromodal
	url = https://github.com/kennedymwavu/micromodal
[submodule "rmon"]
	path = rmon
	url = https://github.com/kennedymwavu/rmon
